<!DOCTYPE html>
<html>
<head>
    <title>Spring Security Example </title>
</head>
<body>

<h2>Add new user</h2>

<div>
    {{#message}}
        {{message}}
    {{/message}}
</div>

<form action="/registration" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div>
        <label> User Name : <input type="text" name="username"/> </label>
    </div>
    <div>
        <label> Password: <input type="password" name="password"/> </label>
    </div>

    <div>
        <input type="submit" value="Sign In"/>
    </div>
</form>

</body>
</html>